<%- include('partials/header.ejs') -%>

    <body>


        <!-- Start Banner Area -->
        <section class="banner-area organic-breadcrumb">
            <div class="container">
                <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                    <div class="col-first">
                        <h1>Shopping Cart</h1>
                        <nav class="d-flex align-items-center">
                            <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                            <a href="category.html">Cart</a>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Banner Area -->

        <!--================Cart Area =================-->
        <section class="cart_area">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(cart of cartitems.items){ %>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="<%= cart.product.image[0] %> " alt="pics"
                                                        style="height: 100px; width: 100px;">
                                                </div>
                                                <div class="media-body">
                                                    <p>
                                                        <%= cart.product.name %>
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>
                                                <%= cart.product.price %>
                                            </h5>
                                        </td>
                                        <td class="column-3 pr-5">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>
                                                <% if(cart.quantity!=1){ %>
                                                    <button type="button" class="btn btn-warning"
                                                        onclick="changequantity('<%-cartitems._id-%>','<%-cart.product._id-%>','-1')">-</button>
                                                    <% }else{ %>
                                                        <button style="visibility: hidden;" type="button"
                                                            class="btn btn-warning"
                                                            onclick="changequantity('<%-cartitems._id-%>','<%-cart.product._id-%>','-1')">-</button>
                                                        <% } %>
                                                            <input type="" style="width: 30px;"
                                                                value="<%= cart.quantity %>">
                                                            <button type="button" class="btn btn-warning"
                                                                onclick="changequantity('<%-cartitems._id-%>','<%-cart.product._id-%>','1')">+</button>


                                                            <div
                                                                class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                                            </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>
                                                <%= cart.totalprice %>
                                            </h5>
                                        </td>
                                        <td>
                                            <a href="" onclick="removefromcart('<%= cart.product._id %>' )"
                                                class="btn btn-warning">Remove</a>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <tr>
                                            <td>
                                                <a class="gray_btn" href="#" class="bottom_button">Update Cart</a>
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>
                                                <div class="cupon_text d-flex align-items-center">
                                                    <input type="text" placeholder="Coupon Code">
                                                </div>

                                            </td>
                                            <td>
                                                <a class="btn btn-warning" href="#">Apply</a>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>
                                                <h5>Subtotal</h5>
                                            </td>
                                            <td>
                                                <h5>
                                                    <%= cartitems.cartTotal %>
                                                </h5>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="gray_btn" href="/">Continue Shopping</a>
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>
                                                <a class="gray_btn" href="#">checkout</a>
                                            </td>
                                        </tr>

                        </table>


                        </tbody>

                    </div>
                </div>
            </div>
        </section>
        <!--================End Cart Area =================-->









        <!-- End footer Area -->

    </body>

    </html>
    <script src="https://code.jquery.com/jquery-3.6.2.js"
        integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function removefromcart(id) {
            console.log('Axios function------------------------------');
            console.log(id);
            await axios.delete(`/removefromcart?productid=${id}`).then(() => {
                console.log("ASHDFERUIAWVSFDYSHDVUFH,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,")
                location.reload()

            })

        }
    </script>
    <script>
        async function changequantity(cartid, productid, count) {
            console.log('changing-----------------------------------');
            console.log(cartid);
            console.log(productid);
            console.log(count);
            let changeqty = await axios.patch(`/qtychange?cartid=${cartid}&productid=${productid}&cartcount=${count}
           `)
            location.reload();
        }
    </script>
    <%- include('partials/footer.ejs') -%>